@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model SharePrices.Models.Shares


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>StockPrice</title>

    

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
        <script src=
"https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js">
      </script>
        <script src=
"https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js">
      </script>

   
</head>
<body>
<div class="col-md-12">  
    <div class="panel panel-primary">  
        <div class="panel-heading">  
            <h3 class="panel-title">Get Stock Prices</h3>  
        </div>  
        <div class="panel-body">  
            <div class="form-group col-md-5">  
               <!-- @Html.LabelFor(model=> model.Name) 
                @Html.TextBoxFor(model=> model.Name, htmlAttributes: new{ @class="form-control" , @placeholder="Enter Company Name", @id="CompanyName" })
                @Html.ValidationMessageFor(model => model.Name)-->
                <input asp-for="Name" name="CompanyName" id="CompanyName" class="form-control" placeholder="Enter Company Name"/>  
           
             </div>  
             
            <div class="form-group col-md-1">  
                <div style="float: right; display:inline-block;">  
                    <input asp-for="Name" class="btn btn-primary" name="GetButton" id="btnGet" value="Get Price" type="button">  
                </div>  
            </div>
            <div class="form-group col-md-2">  
                <div style="float: right; display:inline-block;">  
                    <input  class="btn btn-primary" name="GetAllButton" id="btnGetAll" value="Get All" type="button">  
                </div>  
            </div>
        </div>  
       <table id="tblStocks" class="table table-bordered table-striped table-responsive table-hover">   
        <tbody></tbody>  
    </table>
        <div>  
        <span id="Validation_Span" class = "bg-danger" style = "font-size: 15px; font-weight: bold"> 
        </span>
        <span id="Output_Span" style = "font-size: 20px; font-weight: bold;">  
        </span>
        </div>

        

    </div><hr />  
    
</div> 
</body>
</html>
<script type"="text/javascript">
    var $j = $.noConflict(true);
</script>

<script type="text/javascript">
      
    $(document).ready(function () {
          
            $("#btnGet").on('click',function () {

                debugger   
                var span = document.getElementById("Output_Span");
                //var CompName = /^(?=.*[a-zA-Z0-9]).+$/;
                document.getElementById("Validation_Span").innerHTML = "";
                 document.getElementById("Output_Span").innerHTML = ""; 
                 $('#tblStocks tbody').empty();
                /*if($("#CompanyName").val()==""){
                    //document.getElementById("CompanyName").append('<span>Required</span>');
                    span.innerHTML = "";
                    document.getElementById("Validation_Span").innerHTML ="Please enter the name!!";
                }
                else if(!CompName.test($("#CompanyName").val())){
                    span.innerHTML = "";
                    document.getElementById("Validation_Span").innerHTML ="Please enter valid name!!";
                }
                else{*/
                    document.getElementById("Validation_Span").innerHTML = "";
                    $.ajax({
                        method: "POST",
                        url: "/Home/GetPrice",
                        data: { 'name':$("#CompanyName").val() },
                        contentType: "application/x-www-form-urlencoded",
                        dataType: "json",
                        success: function (response) {
                           // alert(Newtonsoft.Json.JsonConvert.SerializeObject(response[0]));
                            span.innerHTML = "Company: " + response[0].name + ", Price " + response[0].price;
                        
                            debugger
                        },
                        failure: function (response) {
                            debugger
                            //span.innerHTML = "Company does not exist";
                            //alert(response.responseText);
                            document.getElementById("Validation_Span").innerHTML = response.responseText;
                        },
                        error: function (response) {
                            debugger
                            //span.innerHTML = "Company does not exist";
                            //alert(response.responseText);
                            document.getElementById("Validation_Span").innerHTML = response.responseText;
                        }
                    });
                //}
            });

            $("#btnGetAll").on('click', function () {
                document.getElementById("Validation_Span").innerHTML = "";
                 document.getElementById("Output_Span").innerHTML = "";
                 $('#tblStocks tbody').empty();
                debugger
                $.ajax({
                    type: "POST",
                    url: '/Home/GetALL',
                    dataType: "json",
                    //data: { '' },
                    contentType: "application/x-www-form-urlencoded",                    
                    success: function (response) {
                        debugger
                        var items = '';  
                        $.each(response, function (i, item) {  
                            var rows = "<tr>"  
                            + "<td class='prtoducttd'>" + item.name + "</td>"  
                            + "<td class='prtoducttd'>" + item.price + "</td>"  
                            + "</tr>";  
                            $('#tblStocks tbody').append(rows);  
                        });
                        //alert(response.responseText);
                        //alert("Price of " + response.Name + " is: " + response.Price);
                    }                    
                });
                return false;
                
            });

    });



       
       
    </script>
